.App {
  /* color: #9aa0b0; */
  background-color: white;
  height: 100vh;
}

h5 {
  /* color: #ad91ad; */
  color: darkslateblue;
}

p {
  color: #d2bed2;
  /* color: bisque; */
}

h1 {
  /* color: #a14da1; */
  color: darkslateblue;
}
